{% extends 'base.html.twig' %}

{% block title %}New Cooperatif{% endblock %}

{% block body %}
    <h1>Create new Cooperatif</h1>

    {{ include('cooperatif/_form.html.twig') }}

    <a href="{{ path('app_cooperatif_index') }}">back to list</a>
{% endblock %}
