<form method="post" action="{{ path('app_checkout_delete', {'id': checkout.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ checkout.id) }}">
    <button class="btn">Delete</button>
</form>
